<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:fragment="loginCard(action)">
  <div class="w-96 shadow rounded border p-2">
    <form class="grid grid-cols-1 gap-6" method="post" th:action="${action}">
      <label class="block">
        <span class="text-gray-400" th:text="|Username:|"></span>
        <input class="block field-input" type="text" th:id="username" th:name="username" required autofocus/>
      </label>
      <label class="block">
        <span class="text-gray-400" th:text="|Password:|"></span>
        <input class="block field-input" type="password" th:id="password" th:name="password" required/>
      </label>
      <input type="submit" th:value="Submit">
    </form>
  </div>
</div>
</html>
